.email {
  border-radius: 20px;
  font-size: 1.2rem;
  color: black;
  background: rgb(231, 231, 231);
  border: none;
  padding: 10px 20px;
}
::placeholder {
  color: grey;
}
.password {
  border-radius: 20px;
  font-size: 1.2rem;
  color: hotpink;
  background: rgb(231, 231, 231);
  border: none;
  padding: 10px 20px;
}
