<div class="container">
  <div class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1562051725-9f20596fc3e6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8c3JpJTIwbGFua2VuJTIwZm9vZHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Fruit"
    />
    <p class="card-text">Sri Lanken</p>
  </div>

  <div class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1590691105234-1501411df02e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGl0YWxpZW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Salat"
    />
    <p class="card-text">Offers</p>
  </div>

  <div class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1476887334197-56adbf254e1a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlcnJ5c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Berry"
    />
    <p class="card-text">Berry</p>
  </div>

  <div class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1555341483-889579a375bd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YW1lcmljYW4lMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Burger"
    />
    <p class="card-text">Burger</p>
  </div>

  <div class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1551024601-bec78aea704b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZG9udXR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Donut"
    />
    <p class="card-text">Donut</p>
  </div>
</div>
