:root {
  --main-color: #839d9a;
  --primary-color: #4a4b4d;
}
.homepage {
  background-image: url("../../assets/Background\ icons.svg");
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  align-content: center;
  grid-row-gap: 1vh;
}

.color-main {
  color: var(--main-color);
}
.color-primary {
  color: var(--primary-color);
}

.homepage > * {
  margin: 0;
}
