@font-face {
  font-family: "Metropolis";
  src: url("./assets/Metropolis.woff2") format("woff2"),
    url("./assets/Metropolis.woff") format("woff"),
    url("./assets/Metropolis.ttf") format("ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Metropolis", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Metropolis", sans-serif;
}
